.custom-marker-icon {
    background-color: rgba(245, 245, 245, 0.836);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 2px;
}
