# Dependencies
node_modules/

# Build
dist/
dist-ssr/
build/

# Cache Vite
.vite/
.cache/

# Coverage / tests
coverage/
.nyc_output/
__snapshots__/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode/
.idea/

# Static assets
public/

# Markdown
LICENSE.md