.modal-icon {
    border: none;
    margin: 24px auto;
}

.modal-title {
    padding-top: 10px;
    text-align: center;
}

.modal-html-container {
    max-width: 200px;
    width: 100%;
    margin: 15px auto 5px !important;
    border: 2px solid #ccc;
    border-radius: 6px;
}
